/Halogen/node_modules/
/Halogen/generated-docs/
/Halogen/output/
/Halogen/bower_components/
/Halogen/.pulp-cache/
/Halogen/dist/midi-keyboard.js
/Pux/output/
/Pux/bower_components/
/Pux/.pulp-cache/
/Pux/dist/midi-keyboard.js
/.psc*
/.purs*
/.psa*
